# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.

APP_MODE=DEV
APP_COMPONENTS_FILE=config/app.php
APP_NODES_FILE=config/nodes.php
CONTAINER_DIR=config/container
CONTAINER_CACHE=var/cache/container

# Default page
PAGE404=templates/error/404.tpl
PAGE501=templates/error/501.tpl

# Users environment
MYSQL_PARAM='{"host":"host.docker.internal", "user":"***user***", "pass":"***password***","base":"***basename***", "logsEnable":true}'